body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

#root{
  height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  flex: 1 0 auto;
}

.form-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justifyContent: space-between;
  width: 80%;
  marginTop: 20px;
}

.dropzone {
  border-width: 2px;
  border-style: dashed;
  border-color: #3f51b5;
  cursor: pointer;
}

.dropzone-focused {
  border-width: 2px;
  border-style: dashed;
  border-color: white;
  color: white;
  background-color: #3f51b5;
  cursor: pointer;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.post-subheader{
  cursor: pointer;
}

.post-subheader:hover {
  text-decoration: underline;
}

.no-bottom-padding{
  padding-bottom: 0 !important;
}

.user-link{
  color: inherit;
  font-weight: bold;
}

.white-link{
  color: inherit;
}

